<button class='back-button white' onclick='goBack()' title='Go Back'><</button>
<div class='header'><%= title %></div>

<% if(similar && similar.length) { %>
    <div class='aka'>
        Related terms: 
        <% similar.forEach(function(s){ %>
            <a href='term_<%= s.name %>.html'><%= s.title %></a>
        <% }) %>
    </div>
<% } %>
<div class="body">
    <%- body %>

    <div class="use-count">
        <!--<span class="count">17</span>-->
        <span class="message">Did you find a bug with this?</span>
        <button class="plus-one" onclick="plusOne()">+1</button>
    </div>
</div>

<script>
function plusOne(){
    ga('send', 'event', 'Plus One', 'click', '<%= title %>');
}
</script>